# {{ ansible_managed }}

allow-hotplug {{ item.key }}
iface {{ item.key }} inet {{ item.value.type }}
{% if item.value.address is defined %}
  address {{ item.value.address }}
{% endif %}
{% if item.value.netmask is defined %}
  netmask {{ item.value.netmask }}
{% endif %}
{% if item.value.gateway is defined %}
  gateway {{ item.value.gateway }}
{% endif %}
{% if item.value.nameserver is defined %}
  dns-nameserver {{ item.value.nameserver }}
{% endif %}
